body {
	background: #141414;
	color: #ffffff;
}

* {
	box-sizing: border-box;
}

p {
	color: black; 
	align-items: center;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

/* Hover & Zoom */

.image-container {
	/* position: relative; */
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 15px;
	padding: 20px;
	text-align: center;

}

.movie-container {
	padding: 1rem 2rem; 
	border-radius: 50px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	background-color: white;
	margin-right: 1rem;
	margin-left: 1rem;
}

img {
	width: 18rem;
	height: 25rem;
	align-items: center;
	margin: auto;
	/* border: 1px solid hsl(0, 100%, 30%); */
	box-shadow: hsl(0, 100%, 30%) 10px 10px 5px; 
}

.app-container {
	margin: 0 auto; 
	padding: 10px;
}
  
.app-title {
	font-size: 3.0rem;
	text-align: center;
	padding: 20px 0 0 0;
	text-shadow: hsl(0, 100%, 30%) 5px 5px 5px; 
}


h1 {
	font-size: 2.0rem;
	text-shadow:hsl(0, 100%, 30%) 5px 5px 5px; 
}

.movie-info {
	overflow-y: auto;
	width: 20rem;
	height: 10rem;
}

.form {
	align-content: center;
	margin: 0 auto; 
}
